 <div class="row">
    <!-- <div class="col-md-12" ng-show="pessoas.length > 0"> -->
    
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
    <!-- <a class="btn btn-lg btn-success" href="#/editar-pessoa/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Customer</a> -->
    </div>
    </nav>
    <div>
        <table class="table table-striped table-bordered">
        <thead>
        <th>ID&nbsp;</th>
        <th>Nome&nbsp;</th>
        <th>Ação&nbsp;</th>
        </thead>
        <tbody>
            <div>{{opcao}}</div>
            <tr ng-repeat="data in pessoas">
                <td>{{data.CODIGO}}</td>
                <td>{{data.NOME}}</td>
                <td><a href="#/editar-pessoa/{{data.pessoaID}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Editar Pessoa</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="pessoas.length == 0">
        <div class="col-md-12">
            <h4>No customers found</h4>
        </div>
    </div>
</div>